// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.flashHidden {
    display: none;
}

a.icon {
    color: #000;
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.required {
    &:after {
        content: '*';
        vertical-align: super;
        font-size: 0.75rem;
        color: red;
    }

    &__text {
        color: red;
        font-size: 0.75rem;
    }
}
.dashIcon {
    width: 50%;
    transition: 600ms;
    &:hover {
        opacity: 75%;
    }
}

.dashWord {
    width: 50%;
    opacity: 0;
    transition: 600ms;
    &:hover {
        opacity: 100%;
    }
}

.employee {
    @media screen and (max-width: 767px) {
        &__email {
            &:before {
                font-family: 'IcoMoon', serif;
                content: '\e9f2';
            }
        }
        &__phone {
            &:before {
                font-family: 'IcoMoon', serif;
                content: '\e9e3';
            }
        }
    }
}

.filter-list:not(:first-child) {
    margin-left: 8px;
    @media screen and (min-width: 768px) {
        margin-left: 4px;
    }
}

.card-header {
    font-size: 1.5rem;

    &-font {
        font-size: .75rem;

        @media screen and (min-width: 768px) {
            font-size: 1.125rem;
        }
    }
}

.fs-7 {
    font-size: 0.75rem;
}

.border-md {
    @media screen and (max-width: 767px) {
        border: 0 !important;
    }
}

.table-head-font {
    font-size: 1rem;
    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.mobile-pag,
.sm-down-only {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.medium-pag,
.md-up-only {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}
